# Dependencies
node_modules/
**/node_modules/
.agents

# Env files
.env
.env.local
.env.*.local
**/.env
!.env.example
!**/.env.example

# Build outputs
dist/
build/
.next/
out/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json

# Testing
coverage/

# Docker
*.pid
